body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
a{
    color: black;
}

#logo-head{
    width:300px;
    height:150px;
    float: left;
}
#navbar{
    height: 150px;
    width: 100%;
}
#tag-line{
    width: 600px;
    display: block;
    margin-top: 48px;
    float: left;
    font-size: 28px;
}
#nav-buttons{
    float: right;
    margin: 24px 60px 0px 0px;
}

.nav-butt{
    width: 120px;
    height: 30px;
    border: 0px 1px 0px 1px;
    background-color: white;
    border-color: white;
    border-bottom-color: slategray;
    border-width: 1px;
    font-size: 14px;

}

.nav-butt:hover{
    border-width: 3px;
    font-style: italic;
}

#landing-infograph{
    width: 100%;
    height: 300px;
    float: left;
    margin-top: 40px;
    /* border-top: 1px solid rgba(128, 128, 128, 0.486); */
    /* border-bottom: 1px solid rgba(128, 128, 128, 0.486); */
    align-content: center;
}
#blurb{
    width: 100%;
    float:right;
    text-align: center;
}
#blurb > p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 60%;
}
#landing-infograph > img{
    height: 100%;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
    
#login-button{
    margin-left: 130px;
    height: 36px;
    width: 120px;
    background-color: lightblue;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 5px;
}

#logout-button{
    margin-left: 130px;
    height: 36px;
    width: 120px;
    background-color: lightblue;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 5px;
}

.selected{
    font-weight: bolder;
}

.feedback-button{
    background-color: lightblue;
    border: 0px solid #b5b5b5;;
    border-radius: 5px;
    height: 22px;
    width: 80px;
}
.feedback-button:hover{
    background-color: lightblue;
    border-radius: 5px;
    height: 22px;
    border-width: 2px;
}
#webstore-table{
    margin: 20px;
    width: 97%;
}
#feedback-table{
    margin: 20px;
    width: 97%;
}
.headshot{
    width: 160px;
    height: 160px;
    border-radius: 15px;
    float: left;
    margin-right: 60px;
}
.about-blurb{
    float:left;
    width: 1000px;
}
.about-section{
    height: 200px;
    margin-left: 60px;
}

#searchbar{ 
    width: 70%;
    margin-left: 15%; 
    padding:15px; 
    border-radius: 10px; 
    margin-top: 20px;
} 

input[type=text] { 
    width: 30%; 
    -webkit-transition: width 0.15s ease-in-out; 
    transition: width 0.15s ease-in-out; 
} 

/* When the input field gets focus, 
    change its width to 100% */
input[type=text]:focus { 
width: 70%; 
} 

#list{ 
    font-size:  1.5em; 
    margin-left: 90px; 
} 

.ui-helper-hidden-accessible{
    display: none;
}

.ui-autocomplete{
    background-color: lightsteelblue;

    width: 70%;
    font-size: 16px;
    
}

.ui-menu-item{
    margin: 12px;
}


#account-details{
    width: 100%;
    display: block;
    

}

#search-button{
    background-color: lightblue;
    height: 36px;
    border-radius: 5px;
} 

#search-button:hover{
    background-color: lightsteelblue;
}