<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>VEGA</title>    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <link rel="stylesheet" href="../assets/stylesheets/landing-page-style.css"/>
    </head>

    <body>
        <div id="root"></div>

        <script src="../assets/javascripts/index.js" type="module"></script> 
        
            <a href="../../index.html">
                <img src="../assets/images/vega-logo-black.svg" id="logo-head">
                <h3 id="tag-line">Your guides to the internet</h3>
            </a>
        
            <div id="nav-buttons">
                <a href="app/views/path-webstore.html"><button class="nav-butt"><bold>paths</bold></button></a>
                <a><button class="button" id="login-button" >logout</button></a>
                
            </div>
            <div id="nav-buttons">
                <a href="app/views/about.html"><button class="nav-butt">about</button></a>
                <a href="app/views/faq.html"><button class="nav-butt">FAQ</button></a>
                <a href="app/views/examples.html"><button class="nav-butt">examples</button></a>
            </div>
        </div>

        <table class="table is-fullwidth is-hoverable is-striped" id="webstore-table">
            <thead>
                <th>Path</th>
                <th>Description</th>
                <th>Times Travelled</th>
                <th>Discovered on</th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <th>Making a youtube playlist</th>
                    <td>Learn how to link your favorite radiohead songs</td>
                    <td>567</td>
                    <td>Shai the incredible</td>
                    <td><a href="#"><button class="explore-button">duplicate</button></a>
                        <a href="#"><button class="explore-button">edit</button></a>
                        <a href="#"><button class="explore-button">delete</button></a></td>
                </tr>
            </tbody>
        </table>
    </body>  
</html>
