<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>VEGA</title>    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <link rel="stylesheet" href="../assets/stylesheets/landing-page-style.css"/>
    </head>

    <body>
        <div id="root"></div>

        <script src="../../node_modules/jquery/dist/jquery.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="../assets/javascripts/index.js" type="module"></script>
        
        <div id="navbar">
            <a href="../../index.html">
                <img src="../assets/images/vega-logo-black.svg" id="logo-head">
                <h3 id="tag-line">Your guides to the internet</h3>
            </a>
        
            <div id="nav-buttons">
                <a href="./path-webstore.html"><button class="nav-butt"><bold>paths</bold></button></a>
                <a href="app/views/login.html"><button class="button" id="login-button">login</button></a>
                
            </div>
            <div id="nav-buttons">
                    <a href="about.html"><button class="nav-butt">about</button></a>
                    <a href="#"><button class="nav-butt selected ">FAQ</button></a>
                    <a href="feedback.html"><button class="nav-butt">feedback</button></a>
            </div>
        </div>

        <div class="section">
            <p>
                Q: How do I make new paths? Is there a tutorial?
            </p>
            <p>
                A: You can make new paths to appear in everyone's "paths" tab through the chrome extension. You will be able to edit it but everyone will be able to see and trace your path. There is a tutorial on how to make new paths under the "examples" tab.
            </p>
            <br>
            <p>
                Q: What exactly is a path?
            </p>
            <p>
                A: A path is a series of annotation created on webpages and websites. Path are created by attaching to a specific spot in your webpage and have annotations for remarks or actions that much be taken at that point. Paths can also move you from one webpage to another by performing actions of clicking buttons or following links.
            </p>
            <br>
            <p>
                Q: Who can follow the path that I create?
            </p>
            <p>
                A: Anyone that has the extention and can locate it using the search tools. No other person will be able to edit it.
             </p>
            <br>
            <p>
                Q: Can I edit a path after I created it?
            </p>
            <p>
                A: By going to the "Paths" tab and choosing the "mine" button, you will be able to see all the paths that have been created and edit them in a separate page by choosing "edit". There is a tutorial under "examples" and also a path demonstraing how to do this!
            </p>
            <br>
            <p>
                Q: Can I see statistics of how many people followed my paths or other paths that I've used?
            </p>
            <p>
                A: Yes! you can see this statistic in the table where you select your path.
            </p>
            <br>
            <p>
                Q: How do I download the extension?
            </p>
            <p>
                A: follow this link: 
            </p>
            <br>
            <p>
                Q: How do I use the extension?
            </p>
            <p>
                A: Download the extention, login with the same credentials as to this website, and follow at this tutorial:
            </p>
            <br>
            <p>
                Q: How can I contact you?
            </p>
            <p>
                A: You can reach us at our UNC emails of shai (at) unc.edu clane3 (at) live.unc.edu jacobsmith00 (at) live.unc.edu or in any other creative way! We love getting mail.
            </p>
        </div>
        
    </body>  
</html>
