<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>VEGA</title>    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <link rel="stylesheet" href="../assets/stylesheets/landing-page-style.css"/>
    </head>

    <body>
        <div id="root"></div>

        <script src="../../node_modules/jquery/dist/jquery.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="../../node_modules/axios/dist/axios.min.js"></script>
        <script src="../assets/javascripts/index.js" type="module"></script>
        <script src="../assets/javascripts/feedback.js" type="module"></script> 
        
        <div id="navbar">
            <a href="../../index.html">
                <img src="../assets/images/vega-logo-black.svg" id="logo-head">
                <h3 id="tag-line">Your guides to the internet</h3>
            </a>
        
            <div id="nav-buttons">
                <a href="path-webstore.html"><button class="nav-butt"><bold>paths</bold></button></a>
                <a href="login.html"><button class="button" id="login-button">login</button></a>
                
            </div>
            <div id="nav-buttons">
                <a href="about.html"><button class="nav-butt">about</button></a>
                <a href="faq.html"><button class="nav-butt ">FAQ</button></a>
                <a href="#"><button class="nav-butt selected">feedback</button></a>
            </div>
        </div>

        <div>
            <table class="table is-fullwidth is-hoverable is-striped" id="feedback-table">
                <thead>
                        <th style="width: 160px;">Path</th>
                        <th>Feedback</th>
                        <th style="width: 200px;">Actions</th>
                </thead>
                <tbody id="feedback-table-body">
        
                </tbody>
            </table>
        </div>
    </body>  
</html>
