
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>User Login</title>    
        <link rel="stylesheet" href="../assets/stylesheets/login-page-style.css">


    </head>

    <body>
        <div id="main">
          <p class="signIn">Sign In</p>
          <img src="../assets/images/vega-logo-black.svg" class = "logo-head" id="logo-head">
          
  </form>
          
          </div>
           


          <script src="../../node_modules/jquery/dist/jquery.js"></script>
          <script src="../../node_modules/axios/dist/axios.min.js"></script>
          <script src="../assets/javascripts/login.js" type="module"></script> 
      </body>






</html>